<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Gladiator Info</title>
    </head>
    <body>
        <h1>
            For 1182 Roman Gladiators
        </h1>
        <h3>
            {name}, {yearsold} from {hometown}
        </h3>
        <p>
            The gladiator named {name} stands out with his superior 
            talent and two-handed sword skills.
        </p>
        <a href = "/">Back to home</a>
        <p>
            for
            <a href = "https://www.plaincoder.com/">PlainCoder</a>
        </p>
        
    </body>
</html>